# rename this file --> .env
FLASK_APP=run.py
FLASK_ENV=prd
LC_ALL=C.UTF-8
LANG=C.UTF-8

SECRET_KEY=k2Jz7G9P+XwR4vQ1mY8N0tS6uH5jD3bF5vA9cE2iO8nU1zM0sL6pQ4gK7bX3yW_A

JWT_SECRET_KEY=c2VjdXJlLWtlLWZvci1qd3QtYXV0aC10b2tlbi1zaWduaW5nLWluLWZsYXNoLWFwcC1leGFtcGxlLXNlcnZlcg==
JWT_EXPIRATION_DELTA=600
JWT_ALGORITHM=HS256
JWT_TOKEN_LOCATION=headers


JWT_HEADER_TYPE=Bearer
JWT_HEADER_NAME=Authorization


JWT_ACCESS_COOKIE_NAME=connect.sid
JWT_COOKIE_SECURE=False
JWT_COOKIE_CSRF_PROTECT=True
JWT_COOKIE_SAMESITE=None


DB_DEV=mysql+pymysql://User:Password@127.0.0.1/schema
DB_QA=mysql+pymysql://User:Password@127.0.0.1/schema
DB_PRD=mysql+pymysql://User:Password@127.0.0.1/schema


DB_DEV_BIND=mysql+pymysql://User:Password@127.0.0.1/schema
DB_QA_BIND=mysql+pymysql://User:Password@127.0.0.1/schema
DB_PRD_BIND=mysql+pymysql://User:Password@127.0.0.1/schema
